* {
  border: none;
  border-radius: 5px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 22, 30, 0.85);
  color: #cdd6f4;
  border-bottom: 2px solid #89b4fa;
}

#workspaces {
  background: #1e1e2e;
  margin: 5px;
  padding: 0 5px;
  border-radius: 5px;
  color: #89b4fa; /* Blue text */
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #89b4fa; /* Active workspace is blue */
  font-weight: bold;
}

#workspaces button:hover {
  background: #313244;
  color: #89b4fa;
}

#custom-launcher,
#custom-power {
  background-color: #0056b3;
  /* background-color: #89b4fa;  Blue background */
  /* color: #1e1e2e;  Dark text */
  color: #ffffff; /* Dark text */
  padding: 0 15px;
  margin: 5px;
  border-radius: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#bluetooth,
#backlight,
#custom-notification,
#network,
#tray {
  background-color: #1e1e2e;
  padding: 0px 10px;
  margin: 5px 3px;
  /* color: #cdd6f4; */
  color: #89b4fa;
  font-weight: bold;
}

#custom-notification {
  border-radius: 5px;
  margin-right: 5px;
  padding-right: 5px;
}

/* Creating a continuous look for the right modules */
#network {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #89b4fa; /* Blue */
}

#pulseaudio {
  color: #89b4fa;
  padding: 0px 10px;
  font-weight: bold;
}

#pulseaudio.muted {
  background-color: #ffa500;
  color: #e6e6e6;
}

#bluetooth {
  color: #89b4fa;
  padding: 0px 10px;
}

#bluetooth.connected {
  background-color: #0056b3;
  color: #ffffff;
}

#bluetooth.disabled,
#bluetooth.off {
  background-color: #6c757d;
  color: #e6e6e6;
}

#backlight {
  color: #89b4fa;
  padding: 0 10px;
  border-radius: 5px;
}

#battery {
  color: #a6e3a1; /* Green for battery, changes logic usually handled in config */
}

#battery.charging,
#battery.plugged {
  color: #f9e2af;
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #1e1e2e;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-notification {
  padding-right: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 10px;
  color: #89b4fa;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
